/* Main page styling */

body {
    font-size: 17px;
    line-height: 1.65;
}

h1,
h2,
h3 {
    font-weight: 700;
}

.navbar-title {
    font-weight: 600;
}

.quarto-title-block .quarto-title-banner {
    background: #f7f7f7;
}

.content {
    max-width: 900px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* css styles */